a {
    text-decoration: none;
    color: black;
}
body {
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#quote-almighty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    
    text-transform: lowercase;

    top:20%;
    bottom:30%;
    right:0px;
    width: 90%;
    height: 50%;

    padding: 0% 5% 0% 5%;

    color:black;

    font-size: 5vw;
}

#the-quote {
    text-decoration: none;
    color: black;
}

.linkquote:hover {
    opacity: 0.5;
}

#header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    opacity: 0.5;
    position: fixed;
    top:10px;
    left:10px;
    font-size: 32px;

    min-width: 700px;
}

#next {
    cursor: pointer;
}

.button {
    opacity:0.5;
    padding:0px 10px;
}

.button:hover {
    opacity: 0.8;
}

#title {
    position: fixed;
    right: 10px;
    padding: 0px 10px;
}

#status {
    position: fixed;
    right:5px;
    bottom:5px;
    opacity: 0
}

#status:hover {
    opacity: 1
}